body{
    text-decoration: none;
    align-items: center;
}

.background-image{
    background: center;
    background-size: cover;
}

h1{
    color: rgb(240, 8, 66);
}

section{
    box-shadow: 50px, 50x, 50px;
}

#Inputs{
    box-shadow: 40px, 40px, 40px;
    text-decoration: none;
    list-style: none;
}

#Pergunta{
    display: flex;

    .text-red{
        top: 10px;
    }
}

#Entrar-p1{
    color:rgb(255, 255, 255);
    background-color: rgb(240, 8, 66);
    border: none;
    border-radius: 10%;
}

#text-red{
    color:rgb(255, 255, 255);
    background: none;
    border: none;
    border-radius: 10%;
    width: 30;
    top
}

#socials{
    display: flex;
    color: rgb(240, 8, 66);
    filter: url("filters.svg#filter-id");
}