header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color:rgb(240, 8, 66);
    z-index: 1000;
}

#cadastro{
    color: #ffffff;
    text-decoration: none;
    list-style: none;
    right: 40px;
    z-index: 1000;
}

header img {
    width: 150px;
    height: auto;
}

#twitter-link {
    width: 120px;
    position: fixed;
    top: 70px;
    right: 19px;
    color: #ffffff;
    font-size: 36px;
    text-decoration: none;
}

#pesquisa {
    position: fixed;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    z-index: 1001;
    width: 50%;
}

#pesquisa-input {
    font-size: 15px;
    width: 100%;
    padding: 10px 40px 10px 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    outline: none;
}

#pesquisa-icone {
    position: absolute;
    right: 10px;
    font-size: 24px;
    color: #888;
    pointer-events: none;
}

body {
    top: 4;
}

hr {
    margin-top: 9%;
}

ol {
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin-top: 0%;
    list-style: none;
}

ol li {
    margin: 0 10px;
}

ol a {
    text-decoration: none;
    color: #515b66;
    font-size: 18px;
    display: flex;
    align-items: center;
}

ol span.material-symbols-outlined {
    margin-right: 8px;
    font-size: 24px;
    display: inline-block;
}

#banner {
    width: 100%;
    height: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0%;
}

#banner img {
    width: 95%;
    height: 410px;
    background-color: rgb(240, 8, 66);
    background-position: center;
}

#produtos {
    padding: 20px;
    width: 100%;
    background-color: #f9f9f9;
    text-align: center;
}

#produtos h2 {
    font-size: 24px;
    margin-bottom: 20px;
    margin: 0px;
    margin-top: 4px;
    position: absolute;
    top: 40px;
}

.produto {
    background-color: #fff;
    border: 1px solid rgb(240, 8, 66);
    border-radius: 8px;
    overflow: hidden;
    width: 255px;
    height: 675px;
    box-shadow: 0 4px 8px rgb(240, 8, 66);
    text-align: left;
    margin: 10px;
    display: inline-block;
}

.produto figure {
    margin: 0;
    padding: 0;
    border: none;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.produto img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

.produto figcaption {
    padding: 10px;
}

.produto h3 {
    font-size: 18px;
    margin: 10px 0 5px;
}

.produto p {
    font-size: 14px;
    color: #666;
    margin: 0 0 10px;
}

.produto span {
    display: block;
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.produto button {
    background-color: #111;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px 12px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.produto button:hover {
    background-color:rgb(240, 8, 66);
}

#produtos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

footer {
    text-align: center;
    background-color: #1d1d1d;
    padding: 6px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #ccc;
}

#contato-info {
    font-size: 20px;
    color: #ffffff;
}

#twitter {
    display: flex;
    align-items: center;
    z-index: 100%;
}

#twitter img {
    width: 33px;
    height: auto;
    margin-left: -80px;
    right: 30%;
}

@media (max-width: 600px) {
    footer {
        flex-direction: column;
        text-align: center;
    }

    #twitter-link {
        margin-top: 10px;
    }
}

#direitos{
    color: white;
    font-size: 20px;
    position: relative;
}

#mapa-bruh{
    margin-top: 5%;
    margin-left: 25%;
    width: 50%;
    height: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    border-color: #333;
    border-radius: 0%, 40%;
    border-width: 10px;
    border-style: solid;
}

#mais, #menos{
    margin-top: 1px;
    margin-left: 76%;
    height: 50;
    max-height: 60px;
    transform: translate(-0%, -2050%);
}

#mais:hover, #menos:hover {
    background-color: #cecece;
}